{% extends 'Customer/Base.html' %}

{% block content %}
{% for lap in ord %}
    {% if lap.laptop %}
    <div style="margin:3% 25%;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{lap.laptop.limage.url}}" style="width:100%;height: 100%;" class="img-fluid rounded-start" alt="Image Not Found">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>{{lap.customer}}</b></h5>
                    <p class="card-text">{{lap.laptop.model_name}}</p>
                    <p class="card-text">{{lap.price}}</p>
                    <p class="card-text">{{lap.quantity}}</p>
                    <a href="{% url 'customerupdateitem' lap.id %}"><button class="btn btn-warning">Add</button></a>
                    <a href="{% url 'deleteitem' lap.id %}"><button class="btn btn-danger">Remove</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% elif lap.mobile %}
    <div style="margin:3% 25%;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{lap.mobile.mimage.url}}" style="width:100%;height: 100%;" class="img-fluid rounded-start" alt="Image Not Found">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>{{lap.customer}}</b></h5>
                    <p class="card-text">{{lap.mobile.model_name}}</p>
                    <p class="card-text">{{lap.price}}</p>
                    <p class="card-text">{{lap.quantity}}</p>
                    <a href="{% url 'customerupdateitem' lap.id %}"><button class="btn btn-warning">Add</button></a>
                    <a href="{% url 'deleteitem' lap.id %}"><button class="btn btn-danger">Remove</button></a>                </div>
            </div>
        </div>
    </div>
    </div>
    {% elif lap.grocery %}
    <div style="margin:3% 25%;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{lap.grocery.gimage.url}}" style="width:100%;height: 100%;" class="img-fluid rounded-start" alt="Image Not Found">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><b>{{lap.customer}}</b></h5>
                    <p class="card-text">{{lap.grocery.product_name}}</p>
                    <p class="card-text">{{lap.price}}</p>
                    <p class="card-text">{{lap.quantity}}</p>
                    <a href="{% url 'customerupdateitem' lap.id %}"><button class="btn btn-warning">Add</button></a>
                    <a href="{% url 'deleteitem' lap.id %}"><button class="btn btn-danger">Remove</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endfor %}


{% endblock %}