{% extends 'Customer/Base.html' %}


{% block content %}
{% for gro in grocery %}
<div style="margin:3% 25%;">
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{gro.gimage.url}}" style="width:100%;height: 100%;" class="img-fluid rounded-start" alt="Image Not Found">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>{{gro.product_name}}</b></h5>
                <p class="card-text">{{gro.quantity}}</p>
                <p class="card-text">{{gro.price}}</p>
                <p class="card-text">{{gro.warranty}}</p>
                <p class="card-text">{{gro.product.seller}}</p>
                <p class="card-text"><a><button class="btn btn-info">Add to Wishlist</button></a>&nbsp;<a href="{% url 'customergroceryitem' gro.id %}"><button class="btn btn-success">Add to Cart</button></a></p>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}