{% extends 'Seller/base.html' %}

{% block content %}
    {% if lap %}
        <h3 style="text-align: center;">Laptop Information.................</h3>
        <table border="1px" class="table table-success" style="width: 80%;margin: 2% 10% 2% 10%;">
            <tr style="text-align: center;">
                <th>Laptop Image</th>
                <th>Laptop Brand Name</th>
                <th>Laptop Model Name</th>
                <th>Laptop RAM</th>
                <th>Laptop ROM</th>
                <th>Laptop Processor</th>
                <th>Laptop Quantity</th>
            </tr>
            {% for i in lap %}
                <tr style="text-align: center;">
                    <td style="width: 20%;"><img src="{{i.limage.url}}" style="width: 30%;"></td>
                    <td>{{i.brand_name}}</td>
                    <td>{{i.model_name}}</td>
                    <td>{{i.ram}}</td>
                    <td>{{i.rom}}</td>
                    <td>{{i.processor}}</td>
                    <td>{{i.quantity}}</td>
                    <td><a href="{% url 'sellerlaptopupdate' i.id %}"><button class="btn btn-warning">Edit</button></a></td>
                    <td><a href="{% url 'sellerlaptopdelete' i.id %}"><button class="btn btn-danger">Remove</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    
    {% if mob %}
        <h3 style="text-align: center;">Mobile Information.................</h3>
        <table border="1px" class="table table-success" style="width: 80%;margin: 2% 10% 2% 10%;">
            <tr style="text-align: center;">
                <th>Mobile Image</th>
                <th>Mobile Brand Name</th>
                <th>Mobile Model Name</th>
                <th>Mobile RAM</th>
                <th>Mobile ROM</th>
                <th>Mobile Processor</th>
                <th>Mobile Quantity</th>
            </tr>
            {% for i in mob %}
                <tr style="text-align: center;">
                    <td style="width: 20%;"><img src="{{i.mimage.url}}" style="width: 30%;"></td>
                    <td>{{i.brand_name}}</td>
                    <td>{{i.model_name}}</td>
                    <td>{{i.ram}}</td>
                    <td>{{i.rom}}</td>
                    <td>{{i.processor}}</td>
                    <td>{{i.quantity}}</td>
                    <td><a href="{% url 'sellermobileupdate' i.id %}"><button class="btn btn-warning">Edit</button></a></td>
                    <td><a href="{% url 'sellermobiledelete' i.id %}"><button class="btn btn-danger">Remove</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    
    {% if gro %}
        <h3 style="text-align: center;">Grocery Information.................</h3>
        <table border="1px" class="table table-success" style="width: 80%;margin: 2% 10% 2% 10%;">
            <tr style="text-align: center;">
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>Product Price</th> 
            </tr>
            {% for i in gro %}
                <tr style="text-align: center;">
                    <td style="width: 20%;"><img src="{{i.gimage.url}}" style="width: 30%;"></td>
                    <td>{{i.product_name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.price}}</td>
                    <td><a href="{% url 'sellergroceryupdate' i.id %}"><button class="btn btn-warning">Edit</button></a></td>
                    <td><a href="{% url 'sellergrocerydelete' i.id %}"><button class="btn btn-danger">Remove</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

