{% extends 'Accounts/Base.html' %}



{% block title %}
    <title>User-Login</title>
{% endblock %}

    
{% block content %}
<div class="container" style="width:60%;">
    <h3 style="text-align: center;">Customer-Login</h3>
    <form method="POST" class="jumbotron">
        {% csrf_token %}
            <label for="mn"> Mobile_no</label>
            <input type="number" id="mn" name="mobile" placeholder="Enter Mobile No.">
            <br><br>
            <label for="pw"> Passowrd</label>
            <input type="password" id="pw" name="password" placeholder="Enter Password">
            <br><br>
            {% if messages %}
                {% for i in messages %}
                    {{i}}
                {% endfor %}
            {% endif %}
                <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>

{% endblock %}









<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>