{% extends 'Accounts/Base.html' %}

{% load crispy_forms_tags %}


{% block title %}
    <title>Seller-Login</title>
{% endblock %}

    
{% block content %}
<div class="container" style="width: 60%;">
    <h3 style="text-align: center;">Seller Login</h3>
    <form method="POST" class="jumbotron">
        {% csrf_token %}
            <label for="mn"> Mobile_no</label>
            <input type="number"  id="mn" name="mobile" placeholder="Enter Mobile No.">
            <br><br>
            <label for="pw"> Passowrd</label>
            <input type="password" id="pw" name="password" placeholder="Enter Password">
            <br><br>
            {% if messages %}
                {% for i in messages %}
                    {{i}}
                {% endfor %}
            {% endif %}
                <button type="submit" class="btn btn-success">Login</button>
    </form>
    <a href="{% url 'sellerregister' %}"><button class='btn btn-primary'>SellerRigister</button></a>

</div>
{% endblock %}


  
 
  

  